body,
html {
	height: 100%;
	margin: 0;
	font-family: Arial, sans-serif;
	background: #f4f4f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notfound-container {
	text-align: center;
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
}

.notfound-link {
	text-decoration: none;
	color: #555;
}

.notfound-link:hover {
	color: #0056b3;
}

h1 {
	font-size: 6rem;
	margin-bottom: 20px;
	color: #555;
}

p {
	font-size: 1.5rem;
	color: #777;
}
